* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

@media print {
  html {
    font-size: 0.25in;
  }
}

@page {
  size: 48in 36in;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
  margin: 0;
  padding: 4rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  line-height: 1.5;
  min-width: 4in;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 0.1rem #cbd5e1;
  padding: 0.5rem;
}

svg {
  overflow: visible;
}

text {
  font-size: 1rem;
  paint-order: stroke fill;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.grid > * {
  flex-grow: 1;
  flex-basis: 0;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.qr {
  height: 6rem;
  opacity: 0.5;
}

.logo {
  height: 6rem;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: #f1f5f9;
  border-radius: 0.25in;
}

.charts {
  display: flex;
  gap: 2rem;
}

.chart {
  text-align: center;
}

.chart svg {
  min-width: 20rem;
  aspect-ratio: 16 / 9;
}
