html {
  --dark: hsl(210, 50%, 25%);
  --mid: hsl(190, 50%, 85%);
  --light: hsl(45, 100%, 97%);
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  gap: 1rem;
  background: var(--dark);
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  gap: 1rem 2rem;
  color: white;
}

@media (max-width: 40rem) {
  header,
  footer {
    flex-direction: column;
    align-items: center;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

section > * {
  flex-grow: 1;
  flex-basis: 0;
}

hr {
  width: 100%;
  height: 0.1rem;
  margin: 1rem 0;
  border: none;
  background: var(--mid);
}

h1,
h2,
h3,
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 0.5rem;
  font-weight: 500;
}

h1 {
  justify-content: flex-start;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h2 {
  width: calc(100% + 2rem);
  height: 2.5rem;
  margin-top: -1rem;
  background: var(--mid);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h3 {
  align-self: flex-start;
  font-size: 1.2rem;
}

h4 {
  align-self: flex-start;
  font-size: 1rem;
}

p {
  margin: 0;
  line-height: 1.75;
}

strong,
b {
  font-weight: 500;
}

svg {
  overflow: visible;
}

text {
  font-size: 1rem;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
  text-align: left;
}

dt,
dd {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

dl {
  --max-cols: 3;
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(min(var(--cols), var(--max-cols)), auto auto);
  width: 100%;
  gap: 0.5rem 1rem;
  overflow-wrap: anywhere;
}

dl > * {
  min-width: 0;
}

dd {
  font-weight: 500;
}

:has(> dl) {
  container-type: inline-size;
}

@container (max-width: 30rem) {
  dl {
    --max-cols: 2;
  }
}

@container (max-width: 20rem) {
  dl {
    --max-cols: 1;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: var(--light);
}

.title,
.authors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
  text-wrap: balance;
}

.authors {
  text-align: right;
}

.logo {
  flex-grow: 1;
  height: 5rem;
}

@media (max-width: 40rem) {
  .title,
  .authors {
    align-items: center;
    text-align: center;
  }
}

.icon {
  height: 1.25em;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.cols > * {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  min-width: min(10rem, 100%);
  gap: 1rem;
}

.chart {
  aspect-ratio: 16 / 9;
  width: 0;
  min-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  place-items: center;
  width: 100%;
  filter: saturate(0.5);
}

.gallery-item {
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr svg {
  height: 6rem;
}
