* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

@media print {
  html {
    font-size: 0.35in;
  }
}

@page {
  size: 48in 36in;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-height: 100vh;
  margin: 0;
  padding: 0.5rem;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  width: 100%;
}

h1,
h2,
h3 {
  display: inline;
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  margin: 0;
  line-height: 1.5;
}

strong,
b {
  font-weight: 500;
}

svg {
  overflow: visible;
}

text {
  font-size: 1rem;
  paint-order: stroke fill;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
  text-align: left;
}

dt,
dd {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.grid > * {
  flex-grow: 1;
  flex-basis: 0;
  min-width: min(20rem, 100vw);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  text-align: left;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 2rem;
}

.gap-sm {
  gap: 0.5rem;
}

.center {
  text-align: center;
}

.tile {
  padding: 1rem;
  background: var(--color-1);
}

.tile h2:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: calc(100% + 2rem);
  height: 2.5rem;
  margin-top: -1rem;
  background: var(--color-2);
}

.qr {
  justify-content: center;
}

.qr svg {
  height: 6rem;
}

.title {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  align-items: center;
  gap: 0.5rem 1rem;
}

.logo {
  height: 5rem;
}

@media (max-width: 70rem) {
  .title {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 45rem) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  :not(.qr) {
    grid-column: 1 / -1;
  }

  .qr:last-child {
    order: -1;
  }
}

@media (max-width: 20rem) {
  header {
    grid-template-columns: 1fr;
  }
}

.icon {
  display: grid;
  place-items: center;
  background: color-mix(in oklab, currentColor, white 65%);
  width: 1.75em;
  height: 1.75em;
  border-radius: 999px;
}

.icon > svg {
  color: color-mix(in oklab, currentColor, black 10%);
  height: 1em;
}

.chart {
  aspect-ratio: 16 / 9;
}

.stats {
  --cols: 2;
  display: grid;
  grid-template-columns: repeat(var(--cols), max-content 1fr);
  width: 100%;
  gap: 0.5rem 1rem;
}

.stats dd {
  font-weight: 500;
}

.stats-heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  grid-column: 1 / -1;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  text-align: center;
}

.stats-heading:first-child {
  padding-top: 0;
}

.stats-heading::before,
.stats-heading::after {
  content: "";
  flex-grow: 1;
  height: 0.05rem;
  background: var(--color-4);
}

:has(> .stats) {
  container-type: inline-size;
}

@container (max-width: 25rem) {
  .stats {
    --cols: 2 !important;
  }
}

@container (max-width: 20rem) {
  .stats {
    --cols: 1 !important;
  }
}
